@import 'constants';

.create {
  padding: 1em;
  background-color: $foreground-color;
  align-items: center;
  color: $font-color;

  p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

// Tablet View
@media all and (min-width: $tablet) {
  .create {
    form {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
    }
    p {
      width: 35vw;
      .submit {
        height: 2em;
      }
    }
  }
}

// Desktop View
@media all and (min-width: $desktop) {
  .create {
    section {
      width: 35vw;
    }
    p {
      width: 20vw;
    }
  }
}
