@import 'constants';

footer {
  background-color: $background-color;
  color: $font-color;
  padding: 1em;
  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    ul {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      .logo {
        font-size: 2em;
      }
    }
  }
}

@media all and (min-width: $tablet) {
  footer {
    nav {
      ul {
        flex-flow: row nowrap;
        justify-content: space-evenly;
      }
    }
  }
}
