@import 'constants';

footer {
  background-color: $background-color;
  color: $font-color;
  padding: 1em;
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .logo {
      font-size: 2em;
    }
  }
}

@media all and (min-width: $tablet) {
  footer {
    ul {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
