@import 'constants';

$burger-top: 1.6em;
$burger-right: 1em;
$burger-width: 2em;

header {
  background-color: $background-color;
  width: 100%;
  position: sticky;
  top: 0;
  h1 {
    width: 100%;
  }
  .no-scroll {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
    }
  }
  .scroll {
    h1 {
      text-align: left;
      margin: 0;
      padding: 0.3em;
    }
  }
}

@media (min-width: $tablet) {
  header {
    .no-scroll {
      flex-flow: column nowrap;
    }
  }
}

@media (min-width: $desktop) {
  header {
    .no-scroll {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      h1 {
        width: 10em;
      }
    }
  }
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#menuToggle {
  li {
    padding: 1em;
  }
  input,
  .burger {
    display: none;
  }
  @media (max-width: $tablet - 1px) {
    position: absolute;
    top: 1.6em;
    right: 1em;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

    input {
      display: block;
      height: 2em;
      width: $burger-width;
      position: fixed;
      top: $burger-top;
      right: $burger-right;
      opacity: 0;
      z-index: 2;
      cursor: pointer;
      -webkit-touch-callout: none;
    }

    input:checked ~ ul {
      transform: none;
    }

    input:checked ~ .burger {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -2px);
      background: $foreground-color;
    }
    input:checked ~ .burger:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    input:checked ~ .burger:nth-last-child(2) {
      transform: rotate(-45deg);
    }

    .burger {
      display: block;
      width: $burger-width;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: $foreground-color;
      border-radius: 1em;
      z-index: 1;
      transform-origin: 0px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }
    .burger:first-child {
      transform-origin: 0% 0%;
    }
    .burger:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }
}

#menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 90vw;
  @media (max-width: $tablet - 1px) {
    position: fixed;
    top: 0;
    right: 0;
    width: 16em;
    padding-top: 3em;
    background-color: $background-color;
    border-left: $standard-header-border;
    border-bottom: $standard-header-border;
    border-radius: 0 0 0 0.5em;
    flex-flow: column nowrap;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    li {
      color: $foreground-color;
      padding: 1em;
      display: flex;
      justify-content: space-between;
      &:last-of-type {
        padding-bottom: 2em;
      }
    }
  }
}

.scroll #menuToggle {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;

  input {
    display: block;
    height: 2em;
    width: $burger-width;
    position: fixed;
    top: $burger-top;
    right: $burger-right;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    -webkit-touch-callout: none;
  }

  input:checked ~ ul {
    transform: none;
  }

  input:checked ~ .burger {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -2px);
    background: $foreground-color;
  }
  input:checked ~ .burger:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  input:checked ~ .burger:nth-last-child(2) {
    transform: rotate(-45deg);
  }

  .burger {
    display: block;
    width: $burger-width;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 1em;
    z-index: 1;
    transform-origin: 0px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .burger:first-child {
    transform-origin: 0% 0%;
  }
  .burger:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
}

.scroll #menu {
  position: fixed;
  top: 0;
  right: 0;
}
