@import 'constants';

.main-vehicles {
  #search-bar {
    margin-top: 1em;
  }
  background-color: $foreground-color;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;

  .vehicles {
    background-color: $background-color;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 0.2em solid $font-color;
    border-bottom: 0.2em solid $font-color;
    border-left: 0.1em solid $font-color;
    border-right: 0.1em solid $font-color;
    border-radius: 0.5em;
    img {
      object-fit: contain;
      width: 80vw;
      border-radius: 0.5em;
    }
  }
}

// Tablet View
@media all and (min-width: $tablet) {
  .main-vehicles {
    flex-direction: column;
    .vehicles {
      width: 90vw;
      flex-direction: row;
      justify-content: left;
      text-align: left;
      border-top: none;
      img {
        width: 30vw;
        margin-right: 1em;
      }
    }
  }
}

// Desktop View
@media all and (min-width: $desktop) {
  .main-vehicles {
    .vehicles {
      border-top: 0.2em solid $font-color;
      border-bottom: none;
      border-left: none;
      border-right: none;
      padding: 0;
      img {
        width: 20vw;
      }
      h2,
      h3 {
        margin: 0;
      }
    }
  }
}

.main-vehicles {
  background-color: $foreground-color;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  color: $font-color;
  padding-bottom: 1em;
  section {
    width: 80vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    h2 {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  .vehicle {
    display: flex;
    justify-content: center;
    img {
      object-fit: contain;
      max-width: 80vw;
      max-height: 60vh;
      border-top: 0.2em solid $font-color;
      border-bottom: 0.2em solid $font-color;
      border-left: 0.1em solid $font-color;
      border-right: 0.1em solid $font-color;
      border-radius: 0.5em;
    }
  }

  ul {
    margin: 1em 0 0 0;
    width: 50vw;
  }
  a:visited {
    color: $font-color;
  }

  .back-arrow {
    font-size: 1.2em;
  }

  .sold {
    color: red;
  }
}
