@import 'constants';

main {
  background-color: $foreground-color;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  color: $font-color;

  .vehicle {
    display: flex;
    justify-content: center;
    img {
      object-fit: contain;
      max-width: 90vw;
      border-top: 0.2em solid $font-color;
      border-bottom: 0.2em solid $font-color;
      border-left: 0.1em solid $font-color;
      border-right: 0.1em solid $font-color;
      border-radius: 0.5em;
    }
  }

  ul {
    margin: 1em 0 0 0;
    width: 90vw;
  }

  .back-arrow {
    width: 90vw;
    margin: 0;
    font-size: 1.2em;

    a:visited {
      color: $font-color;
    }
  }
}
